/* You can add global styles to this file, and also import other style files */
body{

align-content: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, "Helvetica Neue", sans-serif;
color: rgb(37, 14, 14);
height: 100%;

}

.content-margin {
margin-left:8px;
margin-right:8px;
}
.right{
  text-align: right;
}
.vertical-margin{
  margin-top:16px;
  margin-bottom: 16px;
}

